.btn-blue {
	color: #557174;
	background-color:#C7CFB7;
	border : 4px ridge #C7CFB7;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px 15px;
	}

.btn-blue:hover { 
	color: #C7CFB7 ;
	background-color: white;
	font-size: 22px;
	} 

a:hover { 
	color: rgb(0, 0, 0);
	font-size: 25px;
	} 